   /*-------------------------------------
   Layout
   -------------------------------------- */
.reactdiv{
  margin-top: 80px;
}
.active{
  background-color: blue;
}
#about{
  text-align: center;
  color: white;
    margin-top: 30px;
    background-color: #6f6262;
}
#movielist{
  background: #6f6262;
  color: white;
  margin-top: 20px;
}
.content{
  margin-top: 20px;
}
.head{
  text-align: center;
}
.container-fluid{
  background: #b77575;
}

.list-group{
  color: white;
  background:#6f6262;
}
.modal-title,.modal-body{
  color: #862a2a;
}
